<%- model_class = Hadit -%>

<div class="page-header"></div>
<p class="lead">
  <%= link_to @chapter.title, book_chapter_path(@book, @chapter) %>, 
  <%= link_to @book.title, book_path(@book) %> 
</p>
<p class="hadit-matan"><%= @hadit.matan %></p>

<% if user_signed_in? %>
  <div class="form-actions">
    <%= link_to t('.back', default: t("helpers.links.back")),
                book_chapter_path(@book, @chapter), class: 'btn'  %>
    <%= link_to t('.edit', default: t("helpers.links.edit")),
                edit_book_chapter_hadit_path(@book, @chapter, @hadit), class: 'btn' %>
    <%= link_to t('.destroy', default: t("helpers.links.destroy")),
                book_chapter_hadit_path(@book, @chapter, @hadit),
                method: 'delete',
                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                class: 'btn btn-danger' %>
  </div>
<% else %>
  <div class="form-actions">
		<%= link_to :tweet, "http://#{request.host}:#{request.fullpath}", class: "twitter-share-button" %>
  </div>
<% end %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
