<%- model_class = Book -%>

<div class="page-header">
  <h1><%= @book.title %></h1>
</div>
<p class="lead">List of available chapters :</p>
<table class="table table-striped">
  <% @book.chapters.each do |chapter| %>
    <tr>
      <td><%= chapter.id %></td>
      <td><%= link_to chapter.title, book_chapter_path(@book, chapter) %></td>
      <td style="text-align: right;">
        <%= link_to raw('<i class="icon-pencil"></i>'),
          edit_book_chapter_path(@book, chapter), :alt => "Edit this chapter" %>
        <%= link_to raw('<i class="icon-remove"></i>'), 
          book_chapter_path(@book, chapter), confirm: 'Are you sure?', method: :delete, :alt => "Delete this chapter" %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Back",
            books_path,
            :class => 'btn' %>
<%= link_to "New Chapter",
            new_book_chapter_path(@book),
            :class => 'btn btn-primary' %>

