<%= form_for [@book, @chapter], html: { class: 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :chapter_number, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :chnum, class: 'text_field' %>
    </div><br/>
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'text_field' %>
    </div><br/>
    <%= f.label :number_of_hadits, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :tgtnum, class: 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to t('.cancel', default:t("helpers.links.cancel")), book_path(@book), class: 'btn' %>
<% end %>
