<div class="page-header">
  <h1><%= @chapter.title %></h1>
</div>

<% @chapter.sections.sort_by(&:scnum).each do |section| %>
  <h3><%= section.scnum %>. <%= section.title %></h3>
  <span class="pull-right" style="position: relative; top: -37px;">
    <%= link_to "Edit Section", edit_book_chapter_section_path(@book, @chapter, section) %>
  </span>
  <table class="table table-striped">
    <% section.hadits.sort_by(&:hdnum).each do |hadit| %>
      <tr>
        <td> <%= hadit.hdnum %></td>
        <td>
          <div>
            <%= hadit.matan %>
            <%= link_to :details, book_chapter_hadit_path(@book, @chapter, hadit), html: {class: "btn btn-info"} %>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to "Back", 
  book_path(@book), class: 'btn' %>
<%= link_to "Add Hadith",
  new_book_chapter_hadit_path(@book, @chapter),
  class: 'btn btn-primary' if user_signed_in? %>


