<!DOCTYPE html>
<html>
  <head>
    <title>Hadith</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">{Hadith}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><%= link_to "Browse books", books_path %></li>
            </ul>
            <% unless user_signed_in? %>
              <ul class="nav pull-right">
                <li><%= link_to "Sign in", new_user_session_path %></li>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="wrap">
      <div class="container">
        <% if user_signed_in? %>
          <div class="row">
            <p class="text-warning pull-right"> 
            Signed in as : <%= current_user.email %> | 
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </p>
        </div>
      <% end %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">
      Copylefted to 
      <a href="#">TaegukWarriors</a>
      and 
      <a href="#">Ninjas</a>.
      </p>
    </div>
  </div>
</body>
</html>
